.add-game-button {
    font-size: 20px;
    padding: 12px;
    width: 150px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 10px;
    border-style: solid;
}

.add-game-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}