.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 75ch;
    margin: 3rem auto 0 auto;
}

.faq-container a {
    text-decoration: none;
    color: #0F52BA;
}

.question-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    gap: 1rem;
}