.container {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    max-width: 20rem;
    min-height: 20rem;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 8rem;
}

.container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1.2rem;
}

.container div input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border-style: solid;
}

.form {
    margin: auto;
}

.form button {
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.15rem 1.2rem;
    border-radius: 0.5rem;
    border-style: solid;
    background-color: #4458ec;
    color: white;
}

.form button.last-button {
    background: #18c94a;
}

.signup-bottom-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.signup-bottom-buttons :last-child {
    background-color: rgb(225, 53, 53);
}

.signup-top-row {
    text-align: center;
}

.signup-close-icon {
    display: flex;
    justify-content: flex-end;
}