.page-item, .page-item-disabled, .page-item-current {
    list-style: none;
    height: 2.5rem;
}

.page-item a, .page-item-disabled a, .page-item-current a {
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
}

.page-item-current a {
    color: red
}

.page-item-disabled a {
    pointer-events: none;
    cursor: not-allowed;
    color: lightgray;
}

.page-item :hover, .page-item-current :hover{
    border-radius: 0.4rem;
    outline: 1.5px solid grey;
}

.page-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}