.role-stats-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 200px;
}

.role-stats-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.played-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.played-list:not(:last-child) {
    border-bottom: 2px solid black;
}

.starting-role-item, .games-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.select-button {
    border-radius: 4px;
    text-align: center;
    width: 50%;
    margin: 0.5em auto;
}