.role-stats-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 200px;
    padding: 0.5em;
    width: 25%;
}

.role-stats-container td:not(:first-child) {
    text-align: center;
}

.role-stats-container table {
    border-collapse: collapse;
}

.role-stats-container tr {
    border-bottom: 0.5px solid black;
}

.role-stats-container td, .role-stats-container th {
    padding: 2px 5px;
}

.role-stats-container tr:first-child {
    border-top: 0.5px solid black;
}

.role-stats-container tr:last-child {
    border-bottom: none
}

.role-stats-container tr:nth-of-type(2n) {
    background-color: rgb(214, 237, 245);
}

/* .played-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.played-list:not(:last-child) {
    border-bottom: 2px solid black;
} */

.select-button {
    border-radius: 4px;
    text-align: center;
    width: 50%;
    margin: 0.5em auto;
}

.sort-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sort-heading {
    margin-left: 1.5em;
}